# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
*.pem
.DS_Store
*.seed
*.log
.vercel
.turbo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.test
.env.production
.env.development

# typescript
*.tsbuildinfo
next-env.d.ts

# temp cache
npm-cache*/
npm-cache/
npm-cache-2/
npm-cache-limpo/
npm-cache-temp/
temp_build/
